/* BODY INTEIRO */
.dark-mode {
    background-color: var(--color-grey-0);
}

/* TITULOS */
.title_dark {
    color: var(--color-grey-4) !important;
}

.dark-mode-title {
    color: var(--color-grey-8) !important;
}
.container_disco_dark{
    background-color: var(--color-grey-1) !important;
}
.bando_ano_dark{
    color: var(--color-grey-3) !important;
}

.theme_disco_dark{
    color: var(--color-grey-8) !important;
}

.comprar_dark{
    background-color: var(--color-grey-2) !important;
}
.theme {
    background-image: url(/src/assets/img/icons8-moon-50.png);
    background-color: var(--color-grey-8);
    border: transparent;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.dark-mode-button {
    background-image: url(/src/assets/img/icons8-sun-48.png);
    background-color: var(--color-grey-1);
    border: transparent;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 20px;
    cursor: pointer;
}

.button_category_dark {
    background-color: var(--color-grey-1) !important;
    color: var(--color-grey-3) !important;
}

.button_category_dark:hover,
.ativo, .comprar_dark:hover {
    color: var(--color-grey-9) !important;
    border: 2px solid var(--color-grey-9) !important;
}

input.range_dark::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: var(--color-grey-1) !important;
    /* Cor do trilho */
    border-radius: 4px;
}
