/* BODY INTEIRO */
.dark-mode {
    background-color: var(--color-grey-0);
}

/* TITULOS */
.dark-mode #title,
.dark-mode #range {
    color: var(--color-grey-4) !important;
}

.dark-mode #logo {
    color: var(--color-grey-8) !important;
}

.dark-mode div.container_disco {
    background-color: var(--color-grey-1) !important;
}

.dark-mode h2.banda_ano {
    color: var(--color-grey-3) !important;
}

.dark-mode h2.musica,
.dark-mode h2.preco {
    color: var(--color-grey-8) !important;
}

.dark-mode button.comprar {
    background-color: var(--color-grey-2) !important;
    color: var(--color-grey-9);
}

.theme {
    background-image: url(/src/assets/img/icons8-moon-50.png);
    background-color: var(--color-grey-8);
    border: transparent;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    padding: 20px;
    cursor: pointer;
}

.dark-mode-button {
    background-image: url(/src/assets/img/icons8-sun-48.png);
    background-color: var(--color-grey-1);
    border: transparent;
    border-radius: 4px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    padding: 20px;
    cursor: pointer;
}

.dark-mode button.buttons_category {
    background-color: var(--color-grey-1) !important;
    color: var(--color-grey-3) !important;
}

.dark-mode button.buttons_category:hover,
.dark-mode button.comprar:hover,
.ativo {
    color: var(--color-grey-9) !important;
    border: 2px solid var(--color-grey-9) !important;
}

.dark-mode input.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    background: var(--color-grey-1) !important;
    /* Cor do trilho */
    border-radius: 4px;
}